language: java

jdk:
  - oraclejdk8

services:
  - mongodb

cache:
  directories:
    - $HOME/.m2

sudo: false

install: true

script: "mvn clean dependency:list test -Dsort"

after_success:
  - mvn cobertura:cobertura coveralls:report
